# Dependencies
node_modules/

# Expo-related
.expo/
eas.json

# IDEs and Editors
.vscode/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS-specific files
.DS_Store
Thumbs.db


# Other
.env
